@using STZ.Frontend.Services
@inject LocalizationService LocalizationService

<CascadingValue Value="LocalizationService">
    @if (_loaded)
    {
        @ChildContent
    }
    else
    {
        <p>Cargando traducciones...</p>
    }
</CascadingValue>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Guid? InitialCultureId { get; set; }

    private bool _loaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_loaded)
        {
            var cultureId = InitialCultureId ?? LocalizationService.GetDefaultCultureIdAsync();
            await LocalizationService.LoadResourcesAsync(cultureId);
            _loaded = true;
            StateHasChanged();
        }
    }
}